Statistic Assignment 2

Library import

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import seaborn as sns

EXERCISE 1. What is the normal body temperature for healthy humans? 
A random sample of 130 healthy human body temperatures provided by Allen Shoemaker yielded 
98.25 degrees and standard deviation 0.73 degrees. 

Give a 99% confidence interval for the average body temperature of healthy people.

*Sample mean (healthy human ) ==> n = 130

*Standard deviation ==> std = 0.73

*Mean ==> mean = 98.25

*Confidence Level %99 ==> 2,576

*Standard error ==> s_e = std / np.sqrt(n)

In [2]:
mean1=98.25
std1=0.73
n1=130
s_e1=std1 / np.sqrt(n1)

In [3]:
#Calculate the margin of the error
m_e1 = 2.576 * s_e1

In [4]:
lower_limit1 = mean1 - m_e1
lower_limit1

98.08507099358535

In [5]:
upper_limit1 = mean1 + m_e1
upper_limit1

98.41492900641465

In [6]:
stats.norm.interval(confidence=0.99, loc=mean1, scale=s_e1)

(98.08508192246582, 98.41491807753418)

EXERCISE 2. The administrators for a hospital wished to estimate the average number of days required 
for inpatient treatment of patients between the ages of 25 and 34. 
A random sample of 500 hospital patients 
between these ages produced a mean and standard deviation equal to 5.4 and 3.1 days, respectively.


Construct a 95% confidence interval for the mean length of stay for the population of patients
from which the sample was drawn.

*Sample mean  ==> n = 500

*Standard deviation ==> std = 3.1

*Mean ==> mean = 5.4

*Confidence Level %95 ==> 1.96

*Standard error ==> s_e = std / np.sqrt(n)

In [7]:
mean2=5.4
std2=3.1
n2=500
s_e2=std2 / np.sqrt(n2)

In [8]:
#Calculate the margin of the error
m_e2 = 1.96 * s_e2

In [9]:
lower_limit2 = mean2 - m_e2
lower_limit2

5.128273019374226

In [10]:
upper_limit2 = mean2 + m_e2
upper_limit2

5.671726980625775

In [11]:
stats.norm.interval(confidence=0.95, loc=mean2, scale=s_e2)

(5.12827801242126, 5.67172198757874)

EXERCISE 3. The hourly wages in a particular industry are normally distributed with mean $13.20 and 
standard deviation $2.50. A company in this industry employs 40 workers, paying them an average 
of $12.20 per hour. Can this company be accused of paying substandard wages? Use an Î± =.01 level test.
(Wackerly, Ex.10.18)

CHECK: statistic: -2.5298221281347035, pvalue= 0.005706018193000826

In [12]:
mu=12.2
mean3=13.2
std3=2.5
n=40

In [13]:
z = (mean3 - mu) / (std3/np.sqrt(n))
z

2.5298221281347035

In [14]:
p_value = 1 - stats.norm.cdf(z)
p_value

0.005706018193000872

In [15]:
alpha=0.01

In [16]:
if p_value < alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of alternative hypothesis.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.01 level of significance, we can reject the null hypothesis in favor of alternative hypothesis.

EXERCISE 4: Shear strength measurements derived from unconfined compression tests 
for two types of soils gave the results shown in the following document 
(measurements in tons per square foot). Do the soils appear to differ 
with respect to average shear strength, at the 1% significance level?
statistic: 5.1681473319343345, pvalue= 2.593228732352821e-06

In [17]:
soil=pd.read_csv("soil - Sheet1.csv")
soil

    Soil1  Soil2
0   1.442  1.364
1   1.943  1.878
2   1.110  1.337
3   1.912  1.828
4   1.553  1.371
5   1.641  1.428
6   1.499  1.119
7   1.347  1.373
8   1.685  1.589
9   1.578  1.714
10  1.866  1.260
11  1.653  1.492
12  1.665  1.395
13  1.640  1.778
14  1.976  1.611
15  1.754  1.202
16  1.589  1.542
17  1.976  1.094
18  1.863  1.557
19  1.932  1.053
20  1.570  1.183
21  1.613  1.367
22  2.054  1.144
23  1.550  1.151
24  1.714  1.561
25  1.896  1.192
26  1.737  1.489
27  1.740  1.379
28  1.708  1.501
29  1.548  1.277
30    NaN  1.593
31    NaN  1.172
32    NaN  1.510
33    NaN  1.740
34    NaN  1.355

In [18]:
soil.dropna(inplace=True)
soil

    Soil1  Soil2
0   1.442  1.364
1   1.943  1.878
2   1.110  1.337
3   1.912  1.828
4   1.553  1.371
5   1.641  1.428
6   1.499  1.119
7   1.347  1.373
8   1.685  1.589
9   1.578  1.714
10  1.866  1.260
11  1.653  1.492
12  1.665  1.395
13  1.640  1.778
14  1.976  1.611
15  1.754  1.202
16  1.589  1.542
17  1.976  1.094
18  1.863  1.557
19  1.932  1.053
20  1.570  1.183
21  1.613  1.367
22  2.054  1.144
23  1.550  1.151
24  1.714  1.561
25  1.896  1.192
26  1.737  1.489
27  1.740  1.379
28  1.708  1.501
29  1.548  1.277

In [19]:
levene_t=stats.levene(soil.Soil1, soil.Soil2)
levene_t

LeveneResult(statistic=0.2323198108973329, pvalue=0.631622932753579)

In [20]:
ind_t = stats.ttest_ind(soil.Soil1, soil.Soil2)
ind_t

Ttest_indResult(statistic=5.134893443609086, pvalue=3.4402046436336477e-06)

In [21]:
alpha = 0.01

if ind_t.pvalue < alpha:
    print("There is a significant difference between the two measurements")
else:
    print("There is no significant difference between the measurements.")

There is a significant difference between the two measurements